# Copia aquest fitxer com a 'secrets.toml' i omple les credencials reals.
# NO pugis 'secrets.toml' a Git (afegeix-lo a .gitignore).

[azure_sql]
host = "predict1.database.windows.net"
database = "football-oracle-db"
user = "el_teu_usuari"
password = "la_teva_contrasenya"
driver = "{ODBC Driver 18 for SQL Server}"
